<h2>Por País</h2>
<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar por Pais..."
    >
    </app-pais-input>
  </div>

  <ul *ngIf="mostrarSugerencias" class="list-group">
    <li
      *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action"
    >
      <div class="row">
        <div class="col-1">
          <img [src]="pais.flag" alt="{{ pais.name }}" class="buscador" />
        </div>
        <div class="col">
          <a [routerLink]="['/pais', pais.alpha2Code]">
            {{ pais.name }}
          </a>
        </div>
      </div>
      <!-- <img [src]="pais.flag" alt="{{pais.name}}" class= "buscador">  {{pais.name}} -->
    </li>

    <li
      class="list-group-item list-group-item-action"
      (click) = "buscar(termino)"
    >
      <a class="nav-link"> Buscar "{{ termino }}" </a>
    </li>
  </ul>
  <hr />
</div>

<div *ngIf="hayerror" class="alert alert-danger">
  No se encontro nada con la palabra {{ termino }}
</div>
<div *ngIf="pais.length > 0" class="row">
  <div class="div">
    <app-pais-tabla [traerPais]="pais"></app-pais-tabla>
  </div>
</div>
